body{  
    background-color: #ffe4e1;
    font-family:  Arial, sans-serif;
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
h1{
    color: #333;
}
h2 {
    color: #7e0a65;
    font-size: 18px;
}
p{
    font-size: 13px;
}
ul{
    list-style: none;
    padding: 0;
}
ul li {
    background: white ;
    margin: 5px 0;
    padding: 6px;
    border-radius: 5px;

}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}
.btn:hover{
    background: #0056b3;
}